{% extends "email/base.html.twig" %}

{% block content %}
    <p class="block">
        Witaj {{ user.username }} <br>
        <a href="{{ url }}">Weryfikuj</a>
    </p>

    <p class="block text-center">
    </p>
{% endblock %}
